body{
    background-image: url("images/web.png");
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
h3{
    display: inline;
    margin-left: 25px;
    color: white;
}

nav{
    display: inline;
    font-size: 14px;
    margin-left: 40%;
}
nav a{
    text-decoration: none;
    padding-left: 30px;
    color: white;
    
}
nav a:hover{
    text-decoration: 3px underline rgb(121, 39, 39);
    
}
header{
    margin-top: 1%;
    position: sticky;
    top: 0;
    padding-top: 15px;
   
 }

.hello{
   margin-top: 13%;
}
.name{
    margin-top: 5px;
}
.paragraph{
    margin-top: 5px;
    font-size: 17px;
}
.bottom-links{
    margin-top: 4%;
    
}
.special{
    margin-left: 3%;
}
.redspan{
    color: rgb(121, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: white;
}
.bottom-links a{
    background-color:rgb(121, 39, 39);
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 14px;
    font-size: 17px;
    padding-left: 2%;
    padding-right: 2%;  
}

p{
    color: white;
}

.outter{
    margin-left: 25px;
}

.h2{
   background-color: rgb(121, 39, 39);
   color: white;
    text-align: center;
    border-top: 2px solid rgba(177, 174, 174, 0.733);
    border-bottom: 2px solid rgba(177, 174, 174, 0.733);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 10%;
}
.container{
    border-right: 2px solid grey;
    display: inline-block;
    width: 32.8%;
    background-color: yellow;
    text-align: center;
}