/*combining selectors*/
h1{
    background-color: yellow;

}
h2{
    background-color: thistle;
}

nav a{
    text-decoration: none;
    width: 100%;  
}

nav a#two{
   background-color: black;
   color: white;
 }