/*combining selectors*/
h1{
    background-color: green;
    color: white;
}
h2{
    background-color: thistle;
}

nav a{
    text-decoration: none;
    width: 100%;  
}

nav a#github{
   background-color: black;
   color: white;
 }