nav{
   margin: 0 auto;
  text-align: center;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 13px;
    font-family:monospace;
    margin-right: 20px;
}
a:hover{
    text-decoration: 2px underline black;
}
i:hover{
    background-color: rgb(27, 27, 27);
    color: white;
    border-radius: 50%;
}
.p{
    margin-top: 3%;
    line-height: 45px;
    text-align: center;
    font-size: x-large;
}

.h5{

    text-align: center;
    border-top: 2px solid rgba(177, 174, 174, 0.733);
    border-bottom: 2px solid rgba(177, 174, 174, 0.733);
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 3%;
  
}
.container{
    border-right: 2px solid grey;
    display: inline-block;
    width: 32.8%;
    background-color: lightblue;
    text-align: center;
}
 /* .div1{
    box-sizing: border-box;
    display: inline-block;
    width: 33.0%;
    
    text-align: center;
   
}  */

hr{
    width: 20%;
    font-weight: 100;
    color: grey;
   
}
